*::selection{
      background-color: red;
    }
     .nav-item:hover .search {
      display: block !important;
      z-index: 1000;
      top: 100%;
       right: -130%;  
      min-width: 40px;
      
    }
    .nav-item:hover .shopping {
      display: block !important;
      z-index: 1000;
      top: 100%;
      right:-10%;
      min-width: 30px;
    }
    .search input {
      border-radius: 5px;
    }
    .shopping .card {
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .navbar {
      background-color: #343a40;
    }
     .text {
      top: 10px;
      align-content: center;
      margin-left: -15%;
    }
    .user-form {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 100%; 
      right: 0; 
      z-index: 1000; 
      min-width: 300px; 
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      transition-delay: 0.2s; 
    }
    .nav-item:hover .user-form {
      opacity: 1;
      visibility: visible;
    }
    .signup-form {
      display: none;
      position: fixed;
      top: 10%;
      left: 30%;
      z-index: 2000; 
      transition: opacity 0.3s ease-in-out;
    }
    .signup-form.active {
      display: block;
      opacity: 1;
    }
    .content-container {
      margin-top: 0; 
    }
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.2rem;
    }
    .signup-form .form-control {
      color: #ffffff !important; 
    }

    .signup-form .form-control::placeholder {
      color: rgba(255, 255, 255, 0.5) !important; 
    }

    .live {
      margin-top: -7%;
    }

    .over {
      margin-top: -5%;
    }

    .noise {
      margin-top: -5%;
    }

    .cards-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem; 
      padding: 1rem;
      width:1470px; 
      margin-left:-7%;
    }

    .card {
      width: 100% !important;
    }

    .card-img-top {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 992px) {
      .cards-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (max-width: 576px) {
      .cards-container {
        grid-template-columns: 1fr;
      }
    }
    .item_div:hover{
      background-color: red;
    }
    .card-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.card-wrapper {
    display: flex;
}